<div class="hero">
  <a
    class="hero__content"
    href="https://www.facebook.com/jvngarage"
    alt="Vist our Facebook page">
    <img class="hero__logo" src="../images/logo.svg" />
    <h2 class="hero__subtitle" href="google.com">Coming Soon</h2>
  </a>
</div>
