<title>JVN GARAGE - Coming Soon</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:url" content="http://www.jvngarage.com" />
<meta property="og:title" content="JVN Garage" />
<meta property="og:description" content="Whether it's your everyday runabout or your pride and joy, JVN Garage is committed to providing an excellent experience for both car and driver alike" />
<meta property="og:image" content="http://www.jvngarage.com/images/meta-og.jpg" />

<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
