<div class="hero">
  <div class="hero__content">
    <a
      class="hero__link"
      href="https://www.facebook.com/jvngarage"
      alt="Vist our Facebook page">
      <img class="hero__logo" src="../images/logo.svg" />
      <div class="hero__subtitle">
        <h2 class="hero__subtitle-text" href="google.com">
          <span>
            <img
            class="hero__fb-icon"
            src="../../images/fb.png"
            alt="Visit us on Facebook">
          </span>
          facebook
        </h2>
      </div>
      <div
        class="fb-like hero__fb-count"
        data-href="https://www.facebook.com/JVNGarage/"
        data-width="180"
        data-layout="button_count"
        data-action="like"
        data-size="small"
        data-show-faces="false"
        data-share="false"
      >
    </div>
    </a>
  </div>
</div>
