<input class="map__overlay" type="checkbox" id="map"/>
<label for="map">
  <iframe
    class="map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.334283124816!2d145.14110741575797!3d-37.945979979728655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad614c97f7bdf43%3A0xa09e0cdce30d1d49!2sJVN+Garage!5e0!3m2!1sen!2sau!4v1495800936608"
    allowfullscreen
    >
  </iframe>
</label>
