<div class="hero">
  <a
    class="hero__content"
    href="https://www.facebook.com/jvngarage"
    alt="Vist our Facebook page">
    <img class="hero__logo" src="../images/logo.svg" />
    <h2 class="hero__subtitle" href="google.com">
      <span>
        <img
          class="hero__fb-icon"
          src="../../images/fb.png"
          alt="Visit us on Facebook">
      </span>
      facebook
    </h2>
  </a>
</div>
