<div class="hero">
  <a
    href="https://www.facebook.com/jvngarage"
    alt="Vist our Facebook page">
    <img class="hero__logo" src="../images/logo.svg" />
    <div class="hero__subtitle">
      <h2 class="hero__subtitle-text" href="google.com">
        <span>
          <img
          class="hero__fb-icon"
          src="../../images/fb.png"
          alt="Visit us on Facebook">
        </span>
        facebook
      </h2>
    </div>
  </a>
</div>
