<div class="services">
  <div class="services__content">
    <h2 class="services__title">Services</h2>
    <div class="services__list">
      <div class="service">
        <img src="/images/diagnostics.svg" />
        <h3 class="service__subtitle">Diagnostics</h3>
        <!-- <p class="service__description">
        Proin et mi ultrices, porta lacus eget, pharetra velit. Phasellus bibendum quam orci, rutrum accumsan felis scelerisque non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p> -->
      </div>
      <div class="service">
        <img src="/images/fabrication.svg" />
        <h3 class="service__subtitle">Fabrication</h3>
        <!-- <p class="service__description">
        Proin et mi ultrices, porta lacus eget, pharetra velit. Phasellus bibendum quam orci, rutrum accumsan felis scelerisque non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p> -->
      </div>
      <div class="service">
        <img src="/images/mechanical.svg" />
        <h3 class="service__subtitle">Mechanical</h3>
        <!-- <p class="service__description">
        Proin et mi ultrices, porta lacus eget, pharetra velit. Phasellus bibendum quam orci, rutrum accumsan felis scelerisque non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </p> -->
      </div>
      <div class="service">
        <img src="/images/wheel.svg" />
        <h3 class="service__subtitle">Wheel and Tyre</h3>
        <!-- <p class="service__description">
        Proin et mi ultrices, porta lacus eget, pharetra velit. Phasellus bibendum quam orci, rutrum accumsan felis scelerisque non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        </p> -->
      </div>
    </div>
  </div>
</div>
