<div class="services">
  <h2 class="services__title">Services</h2>
  <div class="service">
    <h3>Diagnostics</h3>
    <div class="service__icon">
      <img src="/images/diagnostics.svg" />
    </div>
    <p class="service__description">
      Proin et mi ultrices, porta lacus eget, pharetra velit. Phasellus bibendum quam orci, rutrum accumsan felis scelerisque non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    </p>
  </div>
</div>
