body {
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
}

a, a:visited {
  text-decoration: none;
  padding: 5em;
}

.hero {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
              url(../images/hero.jpg)
              no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.hero__content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero__logo {
  max-width: 25vh;
  margin: 0 auto;
}

.hero__subtitle {
  display: flex;
  justify-content: center;
}

.hero__subtitle-text {
  color: #4e4e4e;
  background-color: #fff;
  margin-top: 2em;
  padding: .5em .75em;
  font-size: 2vh;
  text-align: center;
  letter-spacing: 0.125em;
}

.hero__fb-icon {
  max-width: 1em;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em;
}

.services__title {
  letter-spacing: 0.125em;
}

.service {
  display: flex;
	flex-direction: column;
  align-items: center;
}

.service__icon {
  background-color: #ae3f2c;
  padding: 2em;
  border-radius: 50%;
}

.service__description {
  margin-top: 2em;
}
