body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  margin: 0;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
              url(../images/hero.jpg) no-repeat center center fixed;
  background-size: cover;
  position: absolute;
  min-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__logo {
  max-width: 25vh;
  margin: 0 auto;
}

.hero__subtitle {
  background-color: #ae3f2c;
  color: #fff;
  margin: 2em auto 0;
  padding: 0.25em 0.5em;
  font-size: 2.25vh;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
