<div class="about">
  <span class="about__text">
    Whether it's your everyday runabout or your pride and joy, JVN Garage is committed to providing an excellent experience for both car and driver alike.
    Established in 2014 John Van Nguyen has set up this workshop to suit most automotive type needs with a huge passion for motorsport, it is something we really enjoy doing and have a strong drive towards.
    <br /><br />Feel free to contact us and we'll be more than happy to help you.
  </span>
</div>
