<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header/header.ejs %>
  </head>
  <body>
    <% include ../partials/hero.ejs %>
    <% include ../partials/about.ejs %>
    <% include ../partials/services.ejs %>
  </body>
</html>
